<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello my name is siddharth sarvaiya</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo natus quia earum, consectetur vitae dolorem nisi mollitia reiciendis adipisci est expedita ipsa error, a asperiores, incidunt ut magnam aperiam numquam facere cupiditate quas! Qui, amet?</p>
</body>
</html>